[{sasl,[{errlog_type,error}]},
 {logger,[{level,info}]},
 {riismi,[{ecto_repos,['Elixir.Riismi.Repo']},
          {'Elixir.Riismi.Mailer',[{adapter,'Elixir.Bamboo.SMTPAdapter'},
                                   {server,<<"smtp.gmail.com">>},
                                   {port,465},
                                   {username,<<"ocatenacci@riis.com">>},
                                   {password,<<"yhglmpjpkkgscxjg">>},
                                   {tls,if_available},
                                   {ssl,true},
                                   {retries,3}]},
          {'Elixir.Riismi.Repo',[{adapter,'Elixir.Ecto.Adapters.Postgres'},
                                 {database,<<"riismi">>},
                                 {username,<<"postgres">>},
                                 {password,<<"postgres">>}]},
          {datafile_path,<<"/bin/riismi/data/">>},
          {processedfile_path,<<"/bin/riismi/data/processed">>},
          {run_time_in_hours,<<"24">>},
          {to_address,<<"jnolan@riis.com">>},
          {from_address,<<"jnolan@riis.com">>}]}].
